<div class="item-events mt-4">
  <h4>{{'item.events.title' | translate}}</h4>
  <div *ngIf="loading" class="my-3 text-center">
    <ds-loading></ds-loading>
  </div>
  <ds-pagination *ngIf="(pageInfoState$ | async)?.totalElements > 0 && !loading"
    [paginationOptions]="config"
    [pageInfoState]="pageInfoState$"
    [collectionSize]="(pageInfoState$ | async)?.totalElements" [hideGear]="false"
    [hidePagerWhenSinglePage]="true" style="width:100%">
    <div class="table-responsive mt-3">
      <table class="table table-striped table-bordered mb-0">
        <thead>
          <tr>
            <th scope="col">{{'item.events.srno' | translate}}</th>
            <th scope="col">{{'item.events.user' | translate}}</th>
            <th scope="col">{{'item.events.action' | translate}}</th>
            <th scope="col">{{'item.events.actionDate' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of (events$ | async)?.page; let i = index;">
            <td>{{(pageInfoState$ | async)?.elementsPerPage * ((pageInfoState$ | async)?.currentPage - 1) + i + 1}}</td>
            <td>{{event.ePersonRest?.name}}</td>
            <td>{{event.action}}</td>
            <td>{{event.actionDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ds-pagination>
  <div *ngIf="(pageInfoState$ | async)?.totalElements === 0 && !loading" class="alert alert-info w-100 mb-2" role="alert">
    {{'item.events.empty' | translate}}
  </div>
</div>
